@mixin centralize {
  margin: 0 auto;
  height: 100vh;
}

.container {
  @include centralize;
  margin-bottom: 1rem;
  width: 800px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .container__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 4rem;

    color: #7D7D80;
    padding: 3.5rem;
  }

  .container__image {
    width: 100%;
  }

  .container__button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 2px;
    font-size: 1.375rem;
    width: 400px;
    background: var(--color-blue);
    margin-top: 2rem;
    transition: all .3s;

    p {
      margin: 0 auto;
    }

    &:hover, &:active {
      filter: brightness(.9);
    }
  }
}