.todo-list-container{
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  gap: .6rem;

  background: transparent;
}

section.todo-item {
  display: grid;
  grid-template-columns: 2em auto 1.5rem;
  gap: 0.5em;
  align-items: center;
  border-bottom: 1px solid rgba(117, 113, 113, 0.3);

  width: 100%;

  padding: 16px;
  
  input[type=checkbox] {
    align-self: stretch;
  }
  h1 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 400;
    width: 100%;

    label {
      word-break: break-all;
      width: 100%;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    svg > path{
      stroke: #808080;
      transition: .4s all;
      
    }
    
    &:hover {
      svg > path{
        stroke: #FF647C;
      }
    }
  }
}


@media (max-width: 432px) {
  section {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}