@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@400;500;600&display=swap');

:root {
  --color-blue: #2481D6;
  --color-background: #F1F0F5;
  accent-color: var(--color-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: 'Poppinss', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: var(--color-background);
}
